

<footer class="max-w-7xl mx-auto rounded-lg sticky top-[100vh] p-3">
    <hr class="mt-6 border-gray-200 sm:mx-auto" />
    <div class="flex mx-auto p-2 text-gray-500 justify-between">
        <div class="flex-grow">
            Thanks to <a href="https://www.youtube.com/c/CodewithSloba" class="hover:underline me-4 md:me-6">Slobodan Gajic</a>
        </div>
        <div>
            <span class="block">2023 <a href="https://github.com/Emimint" class="hover:underline">Emimint</a></span>
        </div>
    </div>
</footer>

